.linkActive{
    background-color: white !important;
    color: #1976d2 !important;
}

.headerLink:hover{
    background-color: white !important;
    color: #1976d2 !important;
}

.button:hover{
    /* background-color: red; */
    color: red;
}

.header_wepper{
    margin: 0;
    padding: 0;
    margin-bottom: 3%;
}

.openLinkActive{
    color: #1976d2 !important;
}

.openLink{
    color: black !important;
}

img{
    height: 60px;
    width: auto;
    border-radius: 19px;
}

.appBar{
    z-index : 100 !important;
}